<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="org.recruit.post.mapper.PostMapper">
  
  	<select id="postList" resultType="org.recruit.post.domain.PostVO">
  		<![CDATA[
  			select * from post where post_no > 0
  		]]>
  		
  	</select>
  	
  	<insert id="postInsert">
  		INSERT INTO POST
	VALUES(
		#{post_title},
		#{post_job},
		#{post_career},
		#{post_emptype},
		#{post_add},
		#{post_sdate},
		#{post_fdate},
		#{post_sal},
		#{post_edu},
		#{post_age},
		#{post_how},
		#{post_url},
		#{com_cno},
		#{mem_no},
		);
  		
  	</insert>
  </mapper>